html, body{
	height: 100%;
	font-size: $baseFontSize;
	overflow-x: hidden;
}

#{$comonElements} {
	box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=text] {
  -webkit-appearance: none;
}


/*  部分新增的公共 class*/
.mr-10 {
    margin-right: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}